/*---------------------------------------------------
;
;
;
;
;
;
-----------------------------------------------------*/
/* NAVIGATION ====================================== */

@media screen and (min-width:768px){
  .navbar-brand-centered {
      position: absolute;
      left: 50%;
      display: block;
      width: 160px;
      text-align: center;
      background-color: #eee;
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -80px;
  }
}

/* SLIDER =========================================== */

body { overflow-x: hidden; }
#slider { text-align: center; }
label, a { color: teal; cursor: pointer; text-decoration: none; }
label:hover, a:hover { color: #000 !important; }
* { box-sizing: border-box; }
label, #active, img { -moz-user-select: none; -webkit-user-select: none; border-radius: 24px; }
#slider { position: relative; top: 150px; margin: 0 auto; max-width: 50%; border-radius: 24px; }
input { display: none; }
#slide1:checked ~ #slides .inner { margin-left:0; border-radius: 24px; }
#slide2:checked ~ #slides .inner { margin-left:-100%; border-radius: 24px; }
#slide3:checked ~ #slides .inner { margin-left:-200%; border-radius: 24px; }
#slide4:checked ~ #slides .inner { margin-left:-300%; border-radius: 24px; }
#slide5:checked ~ #slides .inner { margin-left:-400%; border-radius: 24px; }
#overflow { width: 100%; overflow: hidden; }
article img { width: 100%; }
#slides .inner { width: 500%; line-height: 0; }
#slides article { width: 20%; float: left; }
#controls { margin: -25% 0 0 0; width: 100%; height: 50px; }
#controls label { display: none; width: 50px; height: 50px; opacity: 0.3; }
#active { margin: 10px 0 0; text-align: center; }
#active label { border-radius: 5px; display: inline-block; width: 10px; height: 10px; background: hsla(0,0%,100%,1.00); }
#active label:hover { background: hsla(198,87%,44%,1.00); border-color: #777 !important; }
#controls label:hover { opacity: 0.8; }
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) { background: url('http://upload.robinbrons.com/u/1366504016.png') no-repeat; float: right; margin: -20px -70px 0 0; display: block; }
#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) { background: url('http://upload.robinbrons.com/u/1366544716.png') no-repeat; float: left; margin: -20px 0 0 -70px; display: block; }
#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) { background: #333; border-color: #333 !important; }

/* Info Box */
.info { line-height: 20px; margin: 0 0 -150%; position: absolute; font-style: italic; padding: 30px 30px; opacity: 0; color: #000; text-align: left; }
.info h3 { color: #333; margin: 0 0 5px; font-weight: normal; font-size: 22px; font-style: normal; }

/* Slider Styling */

/* AutoPlay Animation */
#slide1:checked ~ #slides article:nth-child(1) .info { animation: slideIn 5s linear 0s infinite; }
#slide2:checked ~ #slides article:nth-child(2) .info { animation: slideIn 5s linear 5s infinite; }
#slide3:checked ~ #slides article:nth-child(3) .info { animation: slideIn 5s linear 10s infinite; }
#slide4:checked ~ #slides article:nth-child(4) .info { animation: slideIn 5s linear 15s infinite; }
#slide5:checked ~ #slides article:nth-child(5) .info { animation: slideIn 5s linear 20s infinite; }

@keyframes slideIn{ 0% {left: 960px;} 1% {left: 0;} 10% {left: 0;} 11% {left: -960px;} 100%{left: -960px;}}

/* Controlled Animation */
#slides .inner { transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); }
#slider { -webkit-transform: translateZ(0); transition: all 0.5s ease-out; }
#controls label { -webkit-transform: translateZ(0); transition: opacity 0.2s ease-out; }
#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info { opacity: 1; transition: all 1s ease-out 0.6s; }
.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile { -webkit-transform: translateZ(0); transition: all 0.5s ease-out; }







/* Responsive Styling */
@media only screen and (max-width: 850px) and (min-width: 450px) {
    #slider #controls { margin: -25% 0 0 15%; width: 70%; height: 50px; }
    #slider #controls label { transform: scale(0.8); }
    #slider #slides { padding: 1% 0; border-radius: 0px; }
    #slider #active { margin: 22% 0 0; }
	#main { position: fixed; top: 14%; left: 50%; width: 100%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1000;}
/* Mobile */
	#mobile:checked ~ #slider #controls { margin: -28% 0 0 24%; width: 50%; height: 50px; }
	#mobile:checked ~ #slider #active { margin: 23% 0 0; }
	#mobile:checked ~ #slider #slides .info { opacity: 0 !important; }
	#mobile:checked ~ #slider #controls label { transform: scale(0.6); }
	}
@media only screen and (max-width: 450px) {
    #slider #controls { margin: -28% 0 0 24%; width: 50%; height: 50px; }
    #slider #active { margin: 23% 0 0; }
    #slider #slides { padding: 1% 0; border-radius: 0px; }
    #slider #slides .info { opacity: 0 !important; }
    #slider #controls label { transform: scale(0.6); }
	}
@media only screen and (min-width: 850px) {
	body { padding: 0 80px; }
}
